@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeflex/primeflex.css';

$background-color: #252525 !important;
$font-color: #fff !important;


.p-button {
  width: 100%;
}

svg {
  fill: #005eff
}

.card {
  margin-top: 4rem !important;
}

.p-card {
  background-color: red;
  color: $font-color;

}
